{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Shiva</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>

<div class="jumbotron text-center">
<h3>Available resources.</h3> 
<a href="{% url 'ticket_app:create-ticket' %}"> <i class="fas fa-heart"></i> Create </a>
<a href="{% url 'ticket_app:find-ticket' %}"> <i class="fas fa-search"></i> Find </a>


</div>

<div class="container">
{% for ind in tickets %}
<div class="card">
<div class="card-header">
<b> Author: </b>{{ind.name}} (<a href="mailto: {{ind.email}}"> {{ind.email}}</a>)
<div class="float-right">
<a href="{% url 'ticket_app:ticket-matches' ind.id %}""> 
<i class="fas fa-search"></i>
Matches </a>
</div>

</div>

<p> <div class="card-body"><b>Item/Service:</b> {{ind.get_item_display}} </p>

<p> <b> Phone: {{ind.phone}} </b> </p>

<p> <b> Description: {{ind.description}} </b> </p>

<p> <b> Country: {{ind.country}} </b> </p>
<p> <b> City: {{ind.city}} </b> </p>

</div>
<div class="card-footer"><b> Type: </b>{{ind.get_type_display}}</div>
</div>
<br>
{% endfor %}
</div>

</body>
</html>



