<div class="card">
<div class="card-header">
<b> Author: </b>{{ticket.name}} (<a href="mailto: {{ticket.email}}"> {{ticket.email}}</a>)
<div class="float-right">
<a href="{% url 'ticket_app:ticket-matches' ticket.id %}""> 
<i class="fas fa-search"></i>
Matches </a>
</div>

</div>

<p> <div class="card-body"><b>Item/Service:</b> {{ticket.get_item_display}} </p>

<p> <b> Phone:</b> {{ticket.phone}}  </p>

<p> <b> Description: </b> {{ticket.description}}  </p>

<p> <b> Country: </b> {{ticket.country}}  </p>
<p> <b> City: </b> {{ticket.city}}  </p>

</div>
<div class="card-footer"><b> Type: </b>{{ticket.get_type_display}}
<div class="float-right"> <b> Created: </b> {{ticket.created}} </div>


</div>
</div>